<a href="https://colab.research.google.com/github/829797siva/python/blob/main/if_else_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
gender= input("enter gender")
if(gender == "male"):
    print("set is booked")
else:
    print("set is not booked")

enter gendermale
set is booked

In [14]:
product_cost = 4500
n = input("enter any bank account:")
if(n=="bankaccount"):
    print("payment is successfull")
else:
    print("paymen is not success")

enter any bank account:4200
paymen is not success

In [15]:
age=int(input("enter age:"))
if(age<=5):
    print("no ticket")
elif(age<=12 or age>=60):
    print("half ticket")
elif(age<=59):
    print("full tickrt")

enter age:15
full tickrt

In [16]:
n=int(input("enter any number:"))
if(n<=699):
    offer=100
    bill=n-offer
    print(bill)

enter any number:100
0

In [17]:
n=int(input("enter subject marks:"))
if(n>=0 or n<=1005):
    print("invalid message")
else:
    print("   ")

enter subject marks:100
invalid message

In [18]:
p_cost=int(input("enter any number:"))
if(p_cost>=5000):
    d=20
    final=p_cost*20/100
    print(final)

enter any number:30

In [19]:
p_cost=int(input("enter product cost:"))
q=int(input("quantity:"))
card=input("enter bank account:")
if(card=="icic"):
    d=15
    bill=p_cost*q
    totalbill=bill*15/100
    print(totalbill)

enter product cost:1000
quantity:2
enter bank account:icic
300.0

In [20]:
t_cost=int(input("enter product cost:"))
q=int(input("quantity:"))
card=input("enter bank account:")
if(card=="coupon" or card=="SAVE20"):
    d=20
    bill=t_cost*q
    totalbill=bill*20/100
    print(totalbill)

enter product cost:200
quantity:5
enter bank account:coupon
200.0

In [21]:
n=int(input("enter any number:"))
if(n>0):
    print("+ve number")
else:
    print("-ve number")

enter any number:10
+ve number

In [22]:
a=int(input("enter any number:"))
b=int(input("enter any number:"))
if(a>b):
    print("a is big")
elif(b>a):
    print("b is big")

enter any number:10
enter any number:20
b is big

In [23]:
age=int(input("enter age:"))
if(age>=18):
    print("vote eligible")
else:
    print("not eligible")

enter age:50
vote eligible

In [24]:
age=int(input("enter age:"))
if(age<=18 or age<=25):
    print("apply for job")
else:
    print("sorry invalid age")

enter age:19
apply for job

In [25]:
n=int(input("enter any number"))
if(n%5==0):
    print("divisible")
else:
    print("not divisible")

enter any number10
divisible

In [28]:
n=input("enter meter name:")
lm=int(input("enter last month reading:"))
cm=int(input("enter current reading:"))
residential=1.49
others=3.46
if(n=="residential"):
    bill=lm-cm
    units=bill/1.49
    print(units)
else:
    bill=lm-cm
    units=bill/3.46
    print(units)

enter meter name:1200
enter last month reading:1000
enter current reading:200
231.21387283236996