<a href="https://colab.research.google.com/github/829797siva/python/blob/main/python_practeses_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                            **VARIABLES**

by using print we have to print one by one  variables in print

In [ ]:
name = "karthik"
age = 16
print(name)
print(age)

karthik
16

by using print we have to print multiple variable in print

In [ ]:
name ="john"
age =55
place = "uk"
print(name,age,place)

john 55 uk

assign the multipule values into the variable

In [ ]:
a,b,c=1,5,9
print(a)
print(b)
print(c)

1
5
9

RE-initilising variables

In [ ]:
salary=100000
salary=500000
print(salary)

500000

                        **by usin TYPE FUNCTION find the data types **

syntax: type(p)

In [ ]:
            # data types :

n=10             #int
m='car'            #string
o=101.5              #float
p=True                  #bool
q=[10,20,30,40,10,50]      #list
r=(10,20,30,20,20,20,33)      #set
s={10,20,30,50,60,60,80,90}      #tuple
t={10:'car',20:'bike',30:'door'}    #dict
print("data type is:",n,type(n))
print("data type is:",m,type(m))
print("data type is:",o,type(o))
print("data type is:",p,type(p))
print("data type is:",q,type(q))
print("data type is:",r,type(r))
print("data type is:",s,type(s))
print("data type is:",t,type(t))

data type is: 10 <class 'int'>
data type is: car <class 'str'>
data type is: 101.5 <class 'float'>
data type is: True <class 'bool'>
data type is: [10, 20, 30, 40, 10, 50] <class 'list'>
data type is: (10, 20, 30, 20, 20, 20, 33) <class 'tuple'>
data type is: {80, 50, 20, 90, 10, 60, 30} <class 'set'>
data type is: {10: 'car', 20: 'bike', 30: 'door'} <class 'dict'>

**  comments **

1.   singe comments :  #  symbol
2.   Multiple comments:  """   """

In [ ]:
# iam going to school

In [ ]:
""" iam giong to school
iam going to college
iam going to hostal """

                      ** OPERATORS **

*   ARTHIMETIC OPERATORS (+,-,*,%,/,//,**)

*   ASSINGMENT OPERATORS (=,+=,-=,*=,/=,%=,//=,**=)

*   RELATIONAL OPERATORS (<,>,<=,>=,==,=!)

*   LOGICAL OPERATORS (AND , OR , NOT)

*   UNARY MINUS OPERATORS ( - )

*   MEMNERSHIP OPERATORS (IN ,NOTIN)

                            ARTHIMETIC OPERATORS

@      addition :

In [ ]:
a=10
b=20
a+b

30

In [ ]:
a=500
b=800
print(a+b)

1300

In [ ]:
price=40040
quantity=10
print("addition:",price+quantity)

addition: 40050

@     subtractions

In [ ]:
w=8100
r=9000
a-b

-300

In [ ]:
u=9000000000
m=99752.35312
print(u-m)

8999900247.64688

In [ ]:
g=1683162.5856941
r=81636012.59448652
print("subtraction:",g+r)

subtraction: 83319175.18018062

@   multiplication :

In [ ]:
t=88
y=99
t*y

8712

In [ ]:
u=8
i=99999
print(u*i)

799992

In [ ]:
h=888888888888
k=2
print("multiplecation:",h*k)

multiplecation: 1777777777776

@devision :

In [ ]:
s=5
s=9
s/s

1.0

In [ ]:
s=88
c=8
print(s/c)

11.0

In [ ]:
x=55
y=9999
print("mul:",x/y)

mul: 0.005500550055005501

@ modulus :

In [ ]:
d=100
f=9000
d%f

100

In [ ]:
L=3332
l=91111
print(L%l)

3332

In [ ]:
y=852963
yx=8529581
print("modulus:",y%yx)

modulus: 852963

@flour devision :

In [ ]:
a=89652348
b=85963245896
a//b

0

In [ ]:
a=89652348
b=85963245896
(a//b)

0

In [ ]:
a=89652348
b=85963245896
print("flour devision",a//b)

flour devision 0

@ power :

In [ ]:
v=153
v=153
v**v

18104599210571566497110369183029506982865923983330328977320577341474687518640311351102858590402090625045802333363382610070907526839919025295164390389815679142952655300084678802930972114884632021891283223504024737038181746179904730036186052319576139600294397311412296431423307378329224894075677979146357447757994124594482227472286643673

In [ ]:
t=5
y=6
print(t**y)

15625

In [ ]:
a=89652348
b=8
print("power:",a**b)

power: 4173432040866127131092010460234541297479055860569050085400313856

                        ASSIGNMENT OPERATOR

In [ ]:
a = 5
a += 10
print(a)
a -= 20
print(a)
a *= 40
print(a)
a **= 2
print(a)
a /= 6
print(a)
a //= 6
print(a)
a %= 100
print(a)

15
-5
-200
40000
6666.666666666667
1111.0
11.0

                                      RELATIONAL OPERATORS

In [ ]:
a=80
b=90
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a!=b)
print(a==b)

False
True
True
False
True
False

                              LOGICAL OPERATORS

In [ ]:
a=False
b=True
print(a and b)
print(a or b)
print(not b)

False
True
False

                                  UNARY MINUS

In [ ]:
a=10
print(a)
print(-a)

10
-10

                                  MEMBERSHIP OPERATORS

In [ ]:
name = " my name is Siri "
print("Siri" in name )
print("oo" in name)
print("siri" not in name)
print("Siri" not in name)

True
False
True
False

In [ ]:
a=[10,20,30,50,40,60,80,90,440]
print(10 in a)
print(20 in a)
print(110 in a)
print(1 in a)
print(2 in a)
print(2 not in a)
print(3 not in a)
print(4 not in a)

True
True
False
False
False
True
True
True

                                            INPUT FUNTIONS

input(p)

In [ ]:
name=input("enter the name:")
age=input("enter the age:")
print(name,age)

enter the name:karthik
enter the age:21
karthik 21

                                          TYPE CONVERSATION

In [ ]:
a="10"
print(a)
print(type(a))

b=int(a)
print(b)
print(type(b))

10
<class 'str'>
10
<class 'int'>

In [ ]:
a=input("enter name:")
print(type(a))

b=int(a)
print(b)
print(type(b))

enter name:500
<class 'str'>
500
<class 'int'>

In [ ]:
a="10"
print(a)
print(type(a))

b=float(a)
print(b)
print(type(b))

10
<class 'str'>
10.0
<class 'float'>

In [ ]:
a=input("enter name:")
print(type(a))

b=float(a)
print(b)
print(type(b))

enter name:56666
<class 'str'>
56666.0
<class 'float'>

In [ ]:
a=120.22
print(a)
print(type(a))

b=int(a)
print(b)
print(type(b))

120.22
<class 'float'>
120
<class 'int'>

In [ ]:
a=55.0
print(a)
print(type(a))

b=str(a)
print(b)
print(type(b))

55.0
<class 'float'>
55.0
<class 'str'>

In [ ]:
a=input("enter the name:")
age=input("enter the age:")
print(a,age)
print(type(a))
print(type(age))

n=int(a)
b=int(age)
print(n,b)
print(type(n))
print(type(b))

enter the name:88
enter the age:6
88 6
<class 'str'>
<class 'str'>
88 6
<class 'int'>
<class 'int'>